<LiteSAMP followplayer="ehdfnb[RXS]" followplayerwithvehicleid="295"
		  followXOffset="-1.5" followYOffset="1.5" followZOffset="0.0"
		  updatestats="1" minfps="20" maxfps="90" clientversion="0.3.7-R5"
		  updaterate="" respawntick="">

	<server nickname="swEDFYG" password="">127.0.0.1:7777</server>

	<log rpc="0" pkt="0" />
	<sendrates force="0" onfoot="40" incar="40" firing="40" multiplier="1" />

</LiteSAMP>
